<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="DBS,数据备份,数据同步,数据云端存储,数据云端备份">
    <meta name="description" content="Data Backup Sync 支持将本地数据同步至云端存储，定时备份数据库">
    <meta name="author" content="ruozhuliufeng">
    <title>DBS - 数据备份与同步</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>

<body>
<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">数据库列表</div>
                </header>
                <div class="card-body">
                    <div class="card-search mb-2-5">
                        <form class="search-form" method="get" action="/database/query/list" role="form">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="form-label"><span class="text-danger">*</span> 数据库名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control pull-left" name="name" value=""
                                                   placeholder="请输入任务名称"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="form-label"><span class="text-danger">*</span> 数据库类型</label>
                                        <div class="col-sm-8">
                                            <select name="type" class="form-select">
                                                <option value="0">MySQL</option>
                                                <option value="1">Oracle</option>
                                                <option value="2">SqlServer</option>
                                                <option value="3">Postgres</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary me-1">搜索</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="card-btns mb-2-5">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#saveDatabase">
                            新增数据库
                        </button>
                        <a class="btn btn-success me-1" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                        <a class="btn btn-warning me-1" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                        <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="check-all">
                                        <label class="form-check-label" for="check-all"></label>
                                    </div>
                                </th>
                                <th>编号</th>
                                <th>数据库名称</th>
                                <th>主机地址</th>
                                <th>端口</th>
                                <th>驱动程序</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input ids" name="ids[]" value="1"
                                               id="ids-1">
                                        <label class="form-check-label" for="ids-1"></label>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>MySQL阿里云数据库</td>
                                <td>120.23.123.122</td>
                                <td>3306</td>
                                <td>com.cj.dj.Driver</td>
                                <td><span class="text-success">正常</span></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-default" href="#!" data-bs-toggle="tooltip" title="编辑"><i
                                                class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-default" href="#!" data-bs-toggle="tooltip" title="删除"><i
                                                class="mdi mdi-window-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item disabled"><span class="page-link">上一页</span></li>
                        <li class="page-item active"><span class="page-link">1</span></li>
                        <li class="page-item"><a class="page-link" href="#1">2</a></li>
                        <li class="page-item"><a class="page-link" href="#1">3</a></li>
                        <li class="page-item"><a class="page-link" href="#1">4</a></li>
                        <li class="page-item"><a class="page-link" href="#1">5</a></li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item"><a class="page-link" href="#!">14452</a></li>
                        <li class="page-item"><a class="page-link" href="#!">14453</a></li>
                        <li class="page-item"><a class="page-link" href="#!">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="saveDatabase" tabindex="-1"
         aria-labelledby="scrollableTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="databaseAdd">新增数据库</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" action="/database/save" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="databaseName"
                                   class="form-label">
                                <span class="text-danger">*</span> 数据库名称</label>
                            <div class="col-sm-12">
                                <input type="text"
                                       class="form-control"
                                       name="databaseName"
                                       id="databaseName"
                                       placeholder="请输入数据库名称,不能与已有数据库名称重复">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="text-danger">*</span> 数据库类型</label>
                            <div class="col-sm-12">
                                <label>
                                    <select name="type" class="form-select">
                                        <option value="0">MySQL</option>
                                        <option value="1">Oracle</option>
                                        <option value="2">SqlServer</option>
                                        <option value="3">Postgres</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="host"
                                   class="form-label">
                                <span class="text-danger">*</span> 主机地址</label>
                            <div class="col-sm-12">
                                <input type="text"
                                       name="host"
                                       class="form-control"
                                       id="host"
                                       placeholder="请输入数据库主机地址">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="port"
                                   class="form-label">
                                <span class="text-danger">*</span> 端口</label>
                            <div class="col-sm-12">
                                <input type="text"
                                       name="port"
                                       class="form-control"
                                       id="port"
                                       placeholder="请输入数据库端口">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username"
                                   class="form-label">
                                <span class="text-danger">*</span> 数据库用户名称</label>
                            <div class="col-sm-12">
                                <input type="text"
                                       name="username"
                                       class="form-control"
                                       id="username"
                                       placeholder="请输入数据库用户名称">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                   class="form-label">
                                <span class="text-danger">*</span> 数据库用户密码</label>
                            <div class="col-sm-12">
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       id="password"
                                       placeholder="请输入数据库用户密码">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="text-danger">*</span> 状态</label>
                            <div class="col-sm-12">
                                <label>
                                    <select name="status" class="form-select">
                                        <option value="1">启用</option>
                                        <option value="0">禁用</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

</body>
</html>
